.btn-primary {
    position: relative;
    border-radius: 0;
    min-height: 45px;
    background: rgb(31, 177, 185);
    background: linear-gradient(270deg, rgb(31, 177, 185) 0%, rgb(113, 165, 122) 97%);
    border: 0px;
    border-color: transparent;
    box-shadow: 0px 10px 9px 0px #d4d4d4;
    font-size: 18px;
    line-height: 33px;
    padding: 6px 0;
    &::after {
        font-family: FontAwesome;
        position: absolute;
        left: 15px;
        top: auto;
        bottom: auto;
        content: "\f060";
        color: #568565;
        font-size: 22px;
        line-height: 39px;
    }
}

.withoutArrow {
    @media screen and (max-width: 1200px) {
        font-size: 14px;
    }
    &::after {
        content: unset;
    }
}

.btnTimes,
.btn-edit {
    background: transparent;
    border: 0;
    padding: 0;
    opacity: 1;
    font-size: 15px;
    font-weight: bolder;
    color: #d9d9d9;
    box-shadow: none !important;
    border-color: transparent !important;
    outline: 0 !important;
}

.infoPopover {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #c5c5c5;
    padding: 0;
    color: #6f6f6f;
    font-size: 12px;
    line-height: 12px;
    &:hover,
    &:focus {
        background: #c5c5c5;
        color: #6f6f6f;
    }
}